<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Cloud Assignment2</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel= "stylesheet">
	</head>
	<body>
		<div class = "jumbotron">
			<h1> Download is Ready!..</h1>
			<p>Click the filename below to download the file</p>
			<a href="/static/downloads/{{ filename }}" download="{{ filename }}"><p> {{ filename }}</p></a>
		</div>
	</body>
</html>